/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vina+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background: white;
  background-image: radial-gradient(circle at 1px 1px, #d3d3d3 1px, transparent 0);
  background-size: 20px 20px;
  background-attachment: fixed;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  position: fixed;
  width: 7px;  
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #372948; 
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1424;
}

.mygrid {
  @apply max-w-[1200px] mx-auto;
}

.myicon {
  @apply mr-2;
}

.mysection {
  @apply mt-[70px];
}

.mymenu {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}

.category:hover .mymenu {
  opacity: 1;
  visibility: visible;
  transition: 0.2s linear;
}

.boldOnHover:hover > a {
  /* text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010; */
  color: #f39c12;
}

.category:hover .spanHover  .myicon,
.category:hover .spanHover > span, 
.category:hover .spanHover  button {
  color: #f39c12;
}
 
.badge:hover .myicon,
.badge:hover  span  {
  color: #f39c12;
}


 
.badge:hover .myicon.love,
.badge:hover > span.love  {
  color: #fff;
}
 
 
.mydiv:hover  button  .myicon, 
.mydiv:hover  button { 
  color: #f39c12;
}

.linkHover:hover {
  text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
}

.mysubcategory {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}

.mycategory:hover .mysubcategory {
  opacity: 1;
  visibility: visible;
  transition: 0.2s linear;
}

/* .swiper-wrapper {
  width: 100%;
  height: 100vh;
} */

.myslide .swiper-pagination-bullet {
  width: 20px;
  height: 7px;
  border-radius: 0;
}

.mygradienttitle {
  font-family: 'Noto Sans', sans-serif;
  -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #e74c3c;
    background-image: linear-gradient(160deg,#e74c3c,#fca415); 
  
}

.mygradientbackground { 
  background-color: #e74c3c;
  background-image: linear-gradient(160deg,#e74c3c,#fca415); 
  background-size: 100% 100%;
  transition: 0.4s ease-in;
}

.mygradientbackground:hover {
  background-size: 400% 400%;
  transition: 0.3s ease-out;
}

.mygradientbackground2 { 
  background: rgb(12,19,79);
  background: linear-gradient(90deg, rgba(12,19,79,1) 0%, rgba(29,38,125,1) 40%, rgba(92,70,156,1) 100%);
}

.mytitlewithtextshadow {
  font-family: 'Noto Sans', sans-serif;  
  color: #121212;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 2px 1px #747474, 
      -1px 3px 1px #767676, 
      -2px 5px 1px #787878, 
      -3px 7px 1px #7a7a7a,
      -4px 9px 1px #7f7f7f,
      -5px 11px 1px #838383,
      -6px 13px 1px #878787,
      -7px 15px 1px #8a8a8a, 
      -8px 17px 1px #8e8e8e,
      -9px 19px 1px #949494,
      -10px 21px 1px #989898,
      -11px 23px 1px #9f9f9f,
      -12px 25px 1px #a2a2a2, 
      -13px 27px 1px #a7a7a7 
}

.myslide .swiper-pagination-bullet-active {
  @apply bg-light-yellow;
} 

.myslide .swiper-button-prev,
.myslide .swiper-rtl,
.myslide .swiper-button-next {
  @apply  text-light-yellow;
}


.myslide .swiper-button-prev, 
.myslide .swiper-button-next {
  margin-top: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 99999px;
  
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
  background-color: #242424bd;
}

.myslide .swiper-button-prev::after, 
.myslide .swiper-button-next::after {
  font-size: 20px;
}
 
.services-item  {
  width: 100%;
  height: 180px;
  min-height: 100%;
  border-radius: 10px;
  background-color: #242424;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.services-item .icon {
  position: absolute;
  font-size: 250px;
  top: 50%;
  z-index: 0;
  left: -15%;
  transform: translateY(-50%);
  color: rgb(19, 19, 19)
}

.myicon-2 {
  /* font-size: 250px; */
  color: rgb(19, 19, 19)
}

.services-item-info {
  position: relative;
  text-align: right;
  z-index: 1;
}

.services-item span { 
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fca415;
  user-select: none;
}

.services-item p {  
  font-size: 13px; 
  color: #fca415; 
  color: #fff;
  user-select: none;
}

.myfire {
  background-image: linear-gradient(
		195deg,
		#e74c3c 0%,
		#fca415 74%
	);
}

.myprogressbarparent {
  
  background-image: radial-gradient(circle at 1px 1px, #e75a4a 1px, transparent 0);
  background-size: 5px 5px;
}

.myprogressbar {
  background: linear-gradient(-45deg, #e75a4a, #e77b3c, #fca415, #fca415);
	background-size: 400% 400%;
  
	animation: gradient 5s ease infinite;
}

.myshadow { 
  border: 1px solid #d1d1d1;
  font-weight: 600;
  color:#4b4a4a;
  margin-left: 5px; 
}
 
.myskeleton {
  background-color: #c6c6c6;
  /* background: linear-gradient(-45deg, #9c9c9c,rgba(156, 156, 156, 0.76), rgba(235, 235, 235, 0.596));
	background-size: 400% 400%; */
	/* animation: gradient 3s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

.mycard {  
  width: 30%;
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgb(0, 0, 0);
  background-color: #fff;
  padding: 10px 10px;
  position: relative; 
}

.mycard::after {
  position: absolute;
  content: "";
  height: 40px;
  right: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 70px;
  background-color: #242424;
  width: 40px;
}

.mycard::before {
  position: absolute;
  content: "";
  height: 40px;
  left: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 70px;
  background-color: #242424;
  width: 40px;
}

.loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}
  .loader::after,
  .loader::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
  }
  .loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
  }

@keyframes animFw {
    0% {
  width: 0;
}
    100% {
  width: 100%;
}
  }

@keyframes coli1 {
    0% {
  transform: rotate(-45deg) translateX(0px);
  opacity: 0.7;
}
    100% {
  transform: rotate(-45deg) translateX(-45px);
  opacity: 0;
}
  }

@keyframes coli2 {
    0% {
  transform: rotate(45deg) translateX(0px);
  opacity: 1;
}
    100% {
  transform: rotate(45deg) translateX(-45px);
  opacity: 0.7;
}
  }
  

input[type=radio],
input[type=checkbox] {
    /* visibility: hidden; */
    opacity: 0;
}

.gender .geekmark {
  border-color: #fff;
}

.gender2 .geekmark {
  border-color: #000;
}

.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  border: 2px solid #000;
} 
input[type=radio] ~ .geekmark {
  border-radius: 20px;
}
.mymain:hover input ~ .geekmark {
  background-color: #6e6e6e;
} 

.mymain input:checked ~ .geekmark {
  background-color: #fca415;
}

.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mymain input:checked ~ .geekmark:after {
  display: block;
}

.mymain .geekmark:after {
  /* left: 50%; */
  left: 5px;
  bottom: 3px;
  /* top: 50%; */
  width: 7px;
  height: 12px;
  border: solid black;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 

.myloading {
  width: 20px;
  height: 20px;
  position: relative;
}
.myloading::before , .myloading::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0),
    radial-gradient(circle 10px, #fca415 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                       13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.myloading::after {
  font-size: 1px;
  background: #fca415;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
   100% {
     font-size: 6px;
    opacity: 0;
  }
} 
 
.myslide2 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
} 

.myslide2 .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.3s linear;
  background-color: #000;
  border: 2px solid #00000000; 
}
  
.myslide2 .swiper-slide img {
  display: block;
  width: 99%;
  height: 99%;
  object-fit: cover;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
}

.myslide2 .swiper-slide-thumb-active {
  opacity: 1;
  border-color: #000;
}

.myslide2 .swiper-slide-thumb-active::after { 
  border-color: #000;
  background-color: #00000000;
  transform: scale(1);
  transition: 0.3s linear;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.myslide2 .swiper-slide-thumb-active img {
  transform: scale(0.8);
}

.mytable tr {
  padding: 4px 0;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: #fca415;
	--trans-dur: 0.3s; 
}

.preloader {
	text-align: center;
	/* max-width: 20em; */
	width: 100%;
}
.preloader__text {
	position: relative;
	height: 1.5em;
}
.preloader__msg {
	/* animation: msg 0.3s 13.7s linear forwards;
   */
	position: absolute;
	width: 100%;
  font-size: 20px;
}
.preloader__msg--last {
	/* animation-direction: reverse;
	animation-delay: 14s;
	visibility: hidden;
  font-size: 20px; */
}
.cart {
	display: block;
	margin: 0 auto 1.5em auto;
	width: 8em;
	height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
	animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
	stroke: var(--primary);
}
.cart__top {
	animation-name: cartTop;
}
.cart__wheel1 {
	animation-name: cartWheel1;
	transform: rotate(-0.25turn);
	transform-origin: 43px 111px;
}
.cart__wheel2 {
	animation-name: cartWheel2;
	transform: rotate(0.25turn);
	transform-origin: 102px 111px;
}
.cart__wheel-stroke {
	animation-name: cartWheelStroke
}
.cart__track {
	stroke: hsla(var(--hue),10%,10%,0.1);
	transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.cart__track {
		stroke: hsla(var(--hue),10%,90%,0.1);
	}
}

/* Animations */
@keyframes msg {
	from {
		opacity: 1;
		visibility: visible;
	}
	99.9% {
		opacity: 0;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes cartLines {
	from,
	to {
		opacity: 0;
	}
	8%,
	92% {
		opacity: 1;
	}
}
@keyframes cartTop {
	from {
		stroke-dashoffset: -338;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 338;
	}
}
@keyframes cartWheel1 {
	from {
		transform: rotate(-0.25turn);
	}
	to {
		transform: rotate(2.75turn);
	}
}
@keyframes cartWheel2 {
	from {
		transform: rotate(0.25turn);
	}
	to {
		transform: rotate(3.25turn);
	}
}
@keyframes cartWheelStroke {
	from,
	to {
		stroke-dashoffset: 81.68;
	}
	50% {
		stroke-dashoffset: 40.84;
	}
}






.confetti {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 0;
  z-index: 50;
}
.confetti .rotate {
  animation: driftyRotate 1s infinite both ease-in-out;
  perspective: 1000;
}
.confetti .askew {
  background: linear-gradient(
  var(--grad-direction, to bottom),
  hsl(63, 100%, 50%) 25%,
  hsl(23, 100%, 50%) 0% 66.667%,
  hsl(43, 100%, 100%) 0% 100%);
  transform: skewY(10deg);
  width: 2rem;
  height: 3.2rem;
  animation: drifty 1s infinite alternate both ease-in-out;
  perspective:1000;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


.confetti:nth-of-type(7n) .askew {
  animation-delay: -.6s;
  animation-duration: 2.25s;
}
.confetti:nth-of-type(7n + 1) .askew {
  animation-delay: -.879s;
  animation-duration: 3.5s;
}
.confetti:nth-of-type(7n + 2) .askew {
  animation-delay: -.11s;
  animation-duration: 1.95s;
}
.confetti:nth-of-type(7n + 3) .askew {
  animation-delay: -.246s;
  animation-duration: .85s;
}
.confetti:nth-of-type(7n + 4) .askew {
  animation-delay: -.43s;
  animation-duration: 2.5s;
}
.confetti:nth-of-type(7n + 5) .askew {
  animation-delay: -.56s;
  animation-duration: 1.75s;
}
.confetti:nth-of-type(7n + 6) .askew {
  animation-delay: -.76s;
  animation-duration: 1.5s;
}
  
.confetti:nth-of-type(9n) .rotate {
  animation-duration: 2s;
}
.confetti:nth-of-type(9n + 1) .rotate {
  animation-duration: 2.3s;
}
.confetti:nth-of-type(9n + 2) .rotate {
  animation-duration: 1.1s;
}
.confetti:nth-of-type(9n + 3) .rotate {
  animation-duration: .75s;
}
.confetti:nth-of-type(9n + 4) .rotate {
  animation-duration: 4.3s;
}
.confetti:nth-of-type(9n + 5) .rotate {
  animation-duration: 3.05s;
}
.confetti:nth-of-type(9n + 6) .rotate {
  animation-duration: 2.76s;
}
.confetti:nth-of-type(9n + 7) .rotate {
  animation-duration: 7.6s;
}
.confetti:nth-of-type(9n + 8) .rotate {
  animation-duration: 1.78s;
}

@keyframes drifty {
  0% {
    transform: skewY(10deg) translate3d(-250%, 0, 0);
  }
  100% {
    transform: skewY(-12deg) translate3d(250%, 0, 0);
  }
}
@keyframes driftyRotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(359deg);
  }
}
[data-type=bookmarks] .confetti:nth-child(4n) {
  color: hsl(18, 100%, 50%);
}
[data-type=bookmarks] .confetti:nth-child(4n + 1) {
  color: hsl(183, 100%, 50%);
}
[data-type=bookmarks] .confetti:nth-child(4n + 2) {
  color: hsl(43, 100%, 50%);
}
[data-type=bookmarks] .confetti:nth-child(4n + 3) {
  color: hsl(133, 100%, 90%);
}

.checkoutsuccess {
  font-family: 'Noto Sans', sans-serif;  
}
.checkoutsuccessicon {
  animation: zoom .6s linear;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
  }
  30% {
    transform: scale(0.6);
  } 
  40% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}